services:
  etl_elt:
    container_name: satisfaction_client_etl_elt

    build: ./etl_elt/.

    volumes:
      - ./etl_elt/scripts:/app/scripts
      - ./volumes/etl_elt:/app/extracts

    command: python /app/scripts/etl_elt.py
