services:
  etl:
    container_name: satisfaction_client_etl
    build: .
    command: python etl.py
    volumes:
      - .:/app
    env_file:
      - .env
    #restart: unless-stopped # A mettre si le conteneur doit fonctionner en continue