name: CI - Sentiment Analysis API

on:
  push:
  pull_request:

jobs:

  tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose

    - name: Build test environment
      run: docker compose build tests

    - name: Run API tests
      run: docker compose run --rm tests


  build_api:
    runs-on: ubuntu-latest
    needs: tests

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Build API Docker image
      run: docker build -t sentiment-api:latest ./api
